.google-button
	padding-top 10px
	padding-right 10px
	padding-left 56px
	display block
	width 142px
	min-height 39px
	font-family $proximanova
	text-align left
	text-decoration none
	color #fff
	background-color #5e42b0
	border-radius 24px
	box-shadow 0 10px 16px #0a0e34

	+above(768px)
		padding-top 24px
		padding-right 50px
		padding-left 127px
		width 311px
		min-height 77px
		border-radius 35px
		box-shadow 8px 13.9px 24px #0a0e34

	&__text
		position relative
		font-size 8px
		font-weight 300
		text-transform uppercase
		line-height 11px
		letter-spacing .3px

		+above(768px)
			font-size 14px
			font-weight 300
			line-height (16/14)
			letter-spacing .7px

		&::before
			position absolute
			top 1px
			left -25px
			content ''
			background-size cover
			size 16px 18px
			spriteImage($google_play)
			spritePosition($google_play)

			+above(768px)
				top -4px
				left -61px
				spriteWidth($google_play)
				spriteHeight($google_play)

		& span
			font-weight 600
