
include ../advice/advice

mixin athlets()
	+b('section').athlets&attributes(attributes)
		+e.title-wrapper
			+e('h2').title Athlets
		+e.list
			+advice(getData('advice.json'), 'athlets')(id='slider')

