.athlets
	position relative
	font-family $proximanova
	background-color #fff

	+between(480px, 767px)
		font-size rem(13)

	&__bg-wrapper
		position absolute
		z-index 25
		top 0
		bottom 0
		width 100%

		+above(1560px)
			left 50%
			width 1560px
			transform translateX(-50%)

		&::after
			position absolute
			z-index 50
			top em(80)
			left 50%
			width 100%
			max-width 1560px
			height em(281)
			content ''
			background-image url('../images/football-player_sm.png')
			background-repeat no-repeat
			background-position 47% 0
			transform translate(-50%, 0)

			+above(480px)
				top em(74)
				left 0
				width prc(335/768)
				height 100%
				background-image url('../images/football-player_md.png')
				background-position 0 0
				transform none

			+between(480px, 767px)
				background-position 0 50%
				background-size 70%

			+above(1024px)
				top 0
				left prc(122/1560)
				width prc(695/1560)
				height 110%
				background-image url('../images/football-player_lg.png')
				background-size 100%

			+above(1280px)
				top em(40)

	&__title-wrapper
		padding-x em(20)
		width auto

		+above(480px)
			padding-x 0

		+above(1560px)
			wrapper(1560px)

	&__title
		padding-top em(16, 50)
		min-height em(306, 50)
		font-size em(50)
		font-weight 700
		line-height (60/50)
		letter-spacing em(-1, 50)
		text-transform uppercase
		color #e7e7e7

		+above(480px)
			margin-right prc(10/768)
			margin-left prc(291/768)
			padding-top em(72, 90)
			min-height 0
			font-size em(90)
			font-weight 700
			line-height (90/90)
			letter-spacing em(-1.5, 90)

		+between(480px, 767px)
			font-size em(80)

		+above(1024px)
			margin-right prc(15/1560)
			margin-left prc(828/1560)

		+above(1280px)
			padding-top em(103, 90)
			letter-spacing em(-.8, 90)

	&__list
		padding-bottom em(10)
		min-height em(283)
		background-color #f5f4f9

		+above(480px)
			padding-bottom 0
			min-height 0
			background-color transparent


