mixin social()
	+b.social&attributes(attributes)
		+e('a').item_facebook(href='#{jv0}' title='Go outside' target='_blank')
			+icon('facebook')(class='social__img')
		+e('a').item_twitter(href='#{jv0}' title='Go outside' target='_blank')
			+icon('twitter')(class='social__img')
		+e('a').item_instagram(href='#{jv0}' title='Go outside' target='_blank')
			+icon('instagram')(class='social__img')

